# Preproceso ficheros meteo. Datos clim√°ticos

**Al final esta la captura de los json que solo hay que hacerla una vez**  <------------- !!!

In [3]:
import numpy as np
import pandas as pd

In [4]:
import json

**Lectura de los csv generados a partir de los json**

In [5]:
unnamed = ["Unnamed: 0"]

In [6]:
# -------------->   Construccion de los dataframes para las provincias  <--------------
# -------------->                                                                  <-------------- 
#                            jaen_meteo.json --->   df_jaen_meteo.csv              <--------------
# -------------->                                                                  <-------------- 
with open("/home/pepe/Trabajo_tfm/datos_csv/jaen_meteo.json") as file:
     jaen_meteo = json.load(file) 

df_jaen_meteo = pd.DataFrame(jaen_meteo)
df_jaen_meteo.to_csv("~/Trabajo_tfm/datos_csv/df_jaen_meteo.csv")
df_jaen_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_jaen_meteo.csv", decimal=',') 
df_jaen_meteo.drop(columns = unnamed, inplace= True, axis=1)

In [7]:
with open("/home/pepe/Trabajo_tfm/datos_csv/cordoba_meteo.json") as file:
    cordoba_meteo = json.load(file)

df_cordoba_meteo = pd.DataFrame(cordoba_meteo)
df_cordoba_meteo.to_csv("~/Trabajo_tfm/datos_csv/df_cordoba_meteo.csv")
df_cordoba_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_cordoba_meteo.csv", decimal=',') # cualquiera
df_cordoba_meteo.drop(columns = unnamed, inplace= True, axis=1)

In [8]:
with open("/home/pepe/Trabajo_tfm/datos_csv/sevilla_meteo.json") as file:
    sevilla_meteo = json.load(file)

df_sevilla_meteo = pd.DataFrame(sevilla_meteo)
df_sevilla_meteo.to_csv("~/Trabajo_tfm/datos_csv/df_sevilla_meteo.csv")
df_sevilla_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_sevilla_meteo.csv", decimal=',') # cualquiera
df_sevilla_meteo.drop(columns = unnamed, inplace= True, axis=1)

In [9]:
with open("/home/pepe/Trabajo_tfm/datos_csv/huelva_meteo.json") as file:
    huelva_meteo = json.load(file)

df_huelva_meteo = pd.DataFrame(huelva_meteo)
df_huelva_meteo.to_csv("~/Trabajo_tfm/datos_csv/df_huelva_meteo.csv")
df_huelva_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_huelva_meteo.csv", decimal=',') # cualquiera
df_huelva_meteo.drop(columns = unnamed, inplace= True, axis=1)

In [10]:
with open("/home/pepe/Trabajo_tfm/datos_csv/cadiz_meteo.json") as file:
    cadiz_meteo = json.load(file)

df_cadiz_meteo = pd.DataFrame(cadiz_meteo)
df_cadiz_meteo.to_csv("~/Trabajo_tfm/datos_csv/df_cadiz_meteo.csv")
df_cadiz_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_cadiz_meteo.csv", decimal=',') # cualquiera
df_cadiz_meteo.drop(columns = unnamed, inplace= True, axis=1)

In [11]:
with open("/home/pepe/Trabajo_tfm/datos_csv/malaga_meteo_aeropuerto.json") as file:
    malaga_meteo = json.load(file)

df_malaga_meteo = pd.DataFrame(malaga_meteo)
df_malaga_meteo.to_csv("~/Trabajo_tfm/datos_csv/df_malaga_meteo.csv")
df_malaga_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_malaga_meteo.csv", decimal=',') # cualquiera
df_malaga_meteo.drop(columns = unnamed, inplace= True, axis=1)

In [12]:
with open("/home/pepe/Trabajo_tfm/datos_csv/granada_meteo.json") as file:
    granada_meteo = json.load(file)

df_granada_meteo = pd.DataFrame(granada_meteo)
df_granada_meteo.to_csv("~/Trabajo_tfm/datos_csv/df_granada_meteo.csv")
df_granada_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_granada_meteo.csv", decimal=',') # cualquiera
df_granada_meteo.drop(columns = unnamed, inplace= True, axis=1)

In [13]:
with open("/home/pepe/Trabajo_tfm/datos_csv/almeria_meteo.json") as file:
    almeria_meteo = json.load(file)

df_almeria_meteo = pd.DataFrame(almeria_meteo)
df_almeria_meteo.to_csv("~/Trabajo_tfm/datos_csv/df_almeria_meteo.csv")
df_almeria_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_almeria_meteo.csv", decimal=',') # cualquiera
df_almeria_meteo.drop(columns = unnamed, inplace= True, axis=1)
#df_almeria_meteo.head()

In [14]:
with open("/home/pepe/Trabajo_tfm/datos_csv/coruna_meteo.json") as file:
    coruna_meteo = json.load(file)

df_coruna_meteo = pd.DataFrame(coruna_meteo)
df_coruna_meteo.to_csv("~/Trabajo_tfm/datos_csv/df_coruna_meteo.csv")
df_coruna_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_coruna_meteo.csv", decimal=',') # cualquiera
df_coruna_meteo.drop(columns = unnamed, inplace= True, axis=1)
#df_coruna_meteo.head()

In [15]:
with open("/home/pepe/Trabajo_tfm/datos_csv/lugo_meteo.json") as file:
    lugo_meteo = json.load(file)

df_lugo_meteo = pd.DataFrame(lugo_meteo)
df_lugo_meteo.to_csv("~/Trabajo_tfm/datos_csv/df_lugo_meteo.csv")
df_lugo_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_lugo_meteo.csv", decimal=',') # cualquiera
df_lugo_meteo.drop(columns = unnamed, inplace= True, axis=1)
#df_lugo_meteo.head()

In [16]:
with open("/home/pepe/Trabajo_tfm/datos_csv/orense_meteo.json") as file:
    orense_meteo = json.load(file)

df_orense_meteo = pd.DataFrame(orense_meteo)
df_orense_meteo.to_csv("~/Trabajo_tfm/datos_csv/df_orense_meteo.csv")
df_orense_meteo = pd.read_csv(
    "~/Trabajo_tfm/datos_csv/df_orense_meteo.csv", decimal=',')  # cualquiera
df_orense_meteo.drop(columns=unnamed, inplace=True, axis=1)
# df_orense_meteo.head()

In [17]:
with open("/home/pepe/Trabajo_tfm/datos_csv/pontevedra_meteo.json") as file:
    pontevedra_meteo = json.load(file)

df_pontevedra_meteo = pd.DataFrame(pontevedra_meteo)
df_pontevedra_meteo.to_csv("~/Trabajo_tfm/datos_csv/df_pontevedra_meteo.csv")
df_pontevedra_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_pontevedra_meteo.csv", decimal=',') # cualquiera
df_pontevedra_meteo.drop(columns = unnamed, inplace= True, axis=1)
#df_pontevedra_meteo.head()

In [18]:
with open("/home/pepe/Trabajo_tfm/datos_csv/zaragoza_meteo.json") as file:
    zaragoza_meteo = json.load(file)

df_zaragoza_meteo = pd.DataFrame(zaragoza_meteo)
df_zaragoza_meteo.to_csv("~/Trabajo_tfm/datos_csv/df_zaragoza_meteo.csv")
df_zaragoza_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_zaragoza_meteo.csv", decimal=',') # cualquiera
df_zaragoza_meteo.drop(columns = unnamed, inplace= True, axis=1)
df_zaragoza_meteo.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2020-03-01,9434,"ZARAGOZA, AEROPUERTO",ZARAGOZA,249,16.6,"1,2",11.9,07:10,21.3,14:20,26.0,7.5,18.9,17:20,8.1,981.3,00,971.3,24
1,2020-03-02,9434,"ZARAGOZA, AEROPUERTO",ZARAGOZA,249,11.2,"0,4",4.9,23:40,17.4,01:30,28.0,8.1,22.5,05:50,3.2,986.2,24,964.0,05
2,2020-03-03,9434,"ZARAGOZA, AEROPUERTO",ZARAGOZA,249,10.2,"2,2",3.0,03:00,17.5,12:50,28.0,6.7,18.6,12:20,4.2,987.8,24,976.6,14
3,2020-03-04,9434,"ZARAGOZA, AEROPUERTO",ZARAGOZA,249,14.3,"0,0",8.2,02:20,20.4,15:50,23.0,3.1,11.1,18:40,8.1,988.4,11,983.5,24
4,2020-03-05,9434,"ZARAGOZA, AEROPUERTO",ZARAGOZA,249,13.9,"0,2",7.6,23:50,20.2,13:10,30.0,10.3,23.3,13:50,3.9,983.5,00,975.7,14

In [19]:
with open("/home/pepe/Trabajo_tfm/datos_csv/zamora_meteo.json") as file:
    zamora_meteo = json.load(file)

df_zamora_meteo = pd.DataFrame(zamora_meteo)
df_zamora_meteo.to_csv("~/Trabajo_tfm/datos_csv/df_zamora_meteo.csv")
df_zamora_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_zamora_meteo.csv", decimal=',') # cualquiera
df_zamora_meteo.drop(columns = unnamed, inplace= True, axis=1)
df_zamora_meteo.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2020-03-01,2614,ZAMORA,ZAMORA,656,12.2,"21,6",7.7,00:40,16.6,15:00,23.0,3.9,16.7,22:50,6.6,937.6,00,925.5,24
1,2020-03-02,2614,ZAMORA,ZAMORA,656,8.2,"1,8",4.5,10:40,11.9,03:00,22.0,3.1,17.5,01:50,7.6,942.1,23,922.5,02
2,2020-03-03,2614,ZAMORA,ZAMORA,656,11.8,"0,0",6.2,00:00,17.3,16:00,25.0,3.3,12.2,05:30,3.0,943.7,23,937.5,08
3,2020-03-04,2614,ZAMORA,ZAMORA,656,13.1,"2,8",10.8,07:00,15.4,15:40,22.0,2.5,8.9,23:59,1.9,945.5,Varias,939.9,24
4,2020-03-05,2614,ZAMORA,ZAMORA,656,9.8,"1,2",6.1,23:40,13.6,16:00,27.0,3.3,12.8,09:50,5.7,940.9,22,933.0,06

In [20]:
with open("/home/pepe/Trabajo_tfm/datos_csv/palencia_meteo.json") as file:
    palencia_meteo = json.load(file)

df_palencia_meteo = pd.DataFrame(palencia_meteo)
df_palencia_meteo.to_csv("~/Trabajo_tfm/datos_csv/df_palencia_meteo.csv")
df_palencia_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_palencia_meteo.csv", 
                                decimal=',') # cualquiera
df_palencia_meteo.drop(columns = unnamed, inplace= True, axis=1)
df_palencia_meteo.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2020-03-01,2374X,CARRI√ìN DE LOS CONDES,PALENCIA,830,11.0,17.2,5.6,05:40,16.5,14:50,22.0,4.7,21.4,23:20,5.2,917.1,00,903.3,24
1,2020-03-02,2374X,CARRI√ìN DE LOS CONDES,PALENCIA,830,6.4,2.2,1.7,22:00,11.1,13:30,22.0,1.7,24.2,01:20,9.1,921.4,Varias,900.0,03
2,2020-03-03,2374X,CARRI√ìN DE LOS CONDES,PALENCIA,830,10.3,0.4,3.0,00:40,17.6,13:50,23.0,1.9,12.8,10:40,6.6,924.0,24,916.7,07
3,2020-03-04,2374X,CARRI√ìN DE LOS CONDES,PALENCIA,830,12.8,0.2,8.2,02:00,17.3,12:50,22.0,2.5,11.4,15:20,4.4,925.3,10,919.9,24
4,2020-03-05,2374X,CARRI√ìN DE LOS CONDES,PALENCIA,830,9.0,1.2,2.9,23:20,15.0,14:10,23.0,3.6,18.9,07:30,5.8,920.0,22,912.5,07

In [21]:
with open("/home/pepe/Trabajo_tfm/datos_csv/salamanca_meteo.json") as file:
    salamanca_meteo = json.load(file)

df_salamanca_meteo = pd.DataFrame(salamanca_meteo)
df_salamanca_meteo.to_csv("~/Trabajo_tfm/datos_csv/df_salamanca_meteo.csv")
df_salamanca_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_salamanca_meteo.csv", decimal=',') # cualquiera
df_salamanca_meteo.drop(columns = unnamed, inplace= True, axis=1)
df_salamanca_meteo.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,presMax,horaPresMax,presMin,horaPresMin
0,2020-03-01,2870,SALAMANCA,SALAMANCA,775,11.8,8.0,7.3,03:00,16.4,14:40,20,5.6,20.3,23:40,925.9,00,915.7,24
1,2020-03-02,2870,SALAMANCA,SALAMANCA,775,7.9,1.1,4.1,13:10,11.7,00:10,20,5.0,20.8,00:40,930.7,22,913.4,03
2,2020-03-03,2870,SALAMANCA,SALAMANCA,775,10.1,0.6,5.2,00:30,15.0,15:10,18,3.9,14.2,04:50,932.3,24,927.2,08
3,2020-03-04,2870,SALAMANCA,SALAMANCA,775,12.5,0.1,9.8,07:30,15.2,15:30,20,3.3,11.1,16:50,933.6,10,928.7,24
4,2020-03-05,2870,SALAMANCA,SALAMANCA,775,9.0,4.2,5.1,23:50,12.9,15:10,24,5.0,15.8,12:40,929.1,22,922.4,07

In [22]:
with open("/home/pepe/Trabajo_tfm/datos_csv/madrid_meteo.json") as file:
    madrid_meteo = json.load(file)

df_madrid_meteo = pd.DataFrame(madrid_meteo)
df_madrid_meteo.to_csv("~/Trabajo_tfm/datos_csv/df_madrid_meteo.csv")
df_madrid_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_madrid_meteo.csv", decimal=',') # cualquiera
df_madrid_meteo.drop(columns = unnamed, inplace= True, axis=1)
#df_madrid_meteo.head()

In [23]:
with open("/home/pepe/Trabajo_tfm/datos_csv/ciudad_real_meteo.json") as file:
    ciudadreal_meteo = json.load(file)

df_ciudadreal_meteo = pd.DataFrame(ciudadreal_meteo)
df_ciudadreal_meteo.to_csv("~/Trabajo_tfm/datos_csv/df_ciudadreal_meteo.csv")
df_ciudadreal_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_ciudadreal_meteo.csv", decimal=',') # cualquiera
df_ciudadreal_meteo.drop(columns = unnamed, inplace= True, axis=1)
df_ciudadreal_meteo.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2020-03-01,4121,CIUDAD REAL,CIUDAD REAL,628,12.4,"6,0",9.4,04:20,15.4,15:00,26.0,3.6,10.6,Varias,2.2,945.6,11,939.0,24
1,2020-03-02,4121,CIUDAD REAL,CIUDAD REAL,628,11.2,"4,0",6.6,23:59,15.7,13:10,30.0,5.8,17.2,13:50,7.1,947.8,24,934.5,05
2,2020-03-03,4121,CIUDAD REAL,CIUDAD REAL,628,9.4,"0,0",5.5,03:00,13.3,16:50,25.0,3.9,13.3,11:20,1.8,949.6,24,946.6,07
3,2020-03-04,4121,CIUDAD REAL,CIUDAD REAL,628,13.2,"0,0",10.6,23:59,15.7,12:40,30.0,2.8,8.3,13:10,0.1,950.5,11,947.0,24
4,2020-03-05,4121,CIUDAD REAL,CIUDAD REAL,628,12.0,"0,0",8.0,23:59,15.9,14:00,26.0,3.9,14.4,13:20,5.8,947.0,00,941.3,14

In [24]:
with open("/home/pepe/Trabajo_tfm/datos_csv/badajoz_meteo.json") as file:
    badajoz_meteo = json.load(file)

df_badajoz_meteo = pd.DataFrame(badajoz_meteo)
df_badajoz_meteo.to_csv("~/Trabajo_tfm/datos_csv/df_badajoz_meteo.csv")
df_badajoz_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_badajoz_meteo.csv", decimal=',') # cualquiera
df_badajoz_meteo.drop(columns = unnamed, inplace= True, axis=1)
df_badajoz_meteo.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2020-03-01,4452,BADAJOZ AEROPUERTO,BADAJOZ,185,14.6,"3,8",11.2,05:30,17.9,15:40,20,3.1,10.8,21:40,1.6,995.8,11,990.0,24
1,2020-03-02,4452,BADAJOZ AEROPUERTO,BADAJOZ,185,13.2,"0,0",9.1,23:59,17.2,14:50,30,6.1,15.3,10:30,8.1,1000.5,23,987.2,03
2,2020-03-03,4452,BADAJOZ AEROPUERTO,BADAJOZ,185,13.8,"0,0",7.6,02:10,19.9,15:10,30,3.3,12.2,17:40,3.9,1001.9,24,998.4,15
3,2020-03-04,4452,BADAJOZ AEROPUERTO,BADAJOZ,185,15.9,"0,0",11.1,05:20,20.7,14:30,30,2.8,8.6,14:30,3.7,1002.4,11,997.9,24
4,2020-03-05,4452,BADAJOZ AEROPUERTO,BADAJOZ,185,14.0,"0,0",9.4,23:59,18.5,14:40,27,5.0,15.3,09:00,6.7,999.7,Varias,993.9,08

In [25]:
with open("/home/pepe/Trabajo_tfm/datos_csv/valencia_meteo.json") as file:
    valencia_meteo = json.load(file)

df_valencia_meteo = pd.DataFrame(valencia_meteo)
df_valencia_meteo.to_csv("~/Trabajo_tfm/datos_csv/df_valencia_meteo.csv")
df_valencia_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_valencia_meteo.csv", decimal=',') # cualquiera
df_valencia_meteo.drop(columns = unnamed, inplace= True, axis=1)
df_valencia_meteo.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2020-03-01,8414A,VALENCIA AEROPUERTO,VALENCIA,56,18.0,"0,0",14.0,06:58,22.0,14:17,27,8.3,16.4,13:07,8.1,1007.4,Varias,1000.8,24
1,2020-03-02,8414A,VALENCIA AEROPUERTO,VALENCIA,56,14.2,Ip,7.5,23:06,21.0,13:05,25,13.6,30.3,05:11,8.6,1010.1,Varias,990.6,6
2,2020-03-03,8414A,VALENCIA AEROPUERTO,VALENCIA,56,14.8,"0,0",8.8,03:00,20.7,15:30,99,9.7,23.3,Varias,6.8,1010.3,01,1002.4,16
3,2020-03-04,8414A,VALENCIA AEROPUERTO,VALENCIA,56,19.4,"0,0",13.4,04:49,25.3,15:03,30,6.7,15.0,09:37,8.9,1010.9,Varias,1007.3,16
4,2020-03-05,8414A,VALENCIA AEROPUERTO,VALENCIA,56,18.2,"0,0",13.8,21:40,22.7,15:00,26,7.8,23.3,Varias,6.1,1008.1,00,999.6,14

In [26]:
with open("/home/pepe/Trabajo_tfm/datos_csv/alicante_meteo.json") as file:
    alicante_meteo = json.load(file)

df_alicante_meteo = pd.DataFrame(alicante_meteo)
df_alicante_meteo.to_csv("~/Trabajo_tfm/datos_csv/df_alicante_meteo.csv")
df_alicante_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_alicante_meteo.csv", decimal=',') # cualquiera
df_alicante_meteo.drop(columns = unnamed, inplace= True, axis=1)
df_alicante_meteo.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2020-03-01,8019,ALICANTE-ELCHE AEROPUERTO,ALICANTE,43,17.6,"0,0",12.6,22:14,22.6,15:39,27.0,3.1,12.8,Varias,7.0,1012.5,Varias,1007.2,24
1,2020-03-02,8019,ALICANTE-ELCHE AEROPUERTO,ALICANTE,43,18.5,"0,6",12.1,18:37,24.9,11:32,27.0,9.7,22.8,11:42,7.2,1014.7,Varias,999.9,07
2,2020-03-03,8019,ALICANTE-ELCHE AEROPUERTO,ALICANTE,43,15.2,"0,0",7.1,05:16,23.2,13:50,31.0,5.8,16.9,Varias,4.5,1015.4,Varias,1009.2,14
3,2020-03-04,8019,ALICANTE-ELCHE AEROPUERTO,ALICANTE,43,18.2,"0,0",12.8,02:37,23.6,13:28,31.0,6.9,16.4,10:25,9.1,1016.4,Varias,1012.9,Varias
4,2020-03-05,8019,ALICANTE-ELCHE AEROPUERTO,ALICANTE,43,19.4,"0,0",13.1,03:02,25.6,14:37,29.0,6.9,18.9,15:03,8.8,1012.9,00,1004.5,15

In [27]:
unnamed = ['nombre','horatmin', 'indicativo', 'horatmax', 'dir', 'racha',
           'horaracha' , 'horaPresMax' ,'horaPresMin']

#df_alicante_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_alicante_meteo.csv", decimal=',') # cualquiera
df_alicante_meteo.drop(columns = unnamed, inplace= True, axis=1)

#df_badajoz_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_badajoz_meteo.csv", decimal=',') # cualquiera
df_badajoz_meteo.drop(columns = unnamed, inplace= True, axis=1)

#df_ciudad_real_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_ciudadreal_meteo.csv", decimal=',') # cualquiera
df_ciudadreal_meteo.drop(columns = unnamed, inplace= True, axis=1)

#df_madrid_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_madrid_meteo.csv", decimal=',') # cualquiera
df_madrid_meteo.drop(columns = unnamed, inplace= True, axis=1)

#df_palencia_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_palencia_meteo.csv", decimal=',') # cualquiera
df_palencia_meteo.drop(columns = unnamed, inplace= True, axis=1)

#df_salamanca_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_salamanca_meteo.csv", decimal=',') # cualquiera
df_salamanca_meteo.drop(columns = unnamed, inplace= True, axis=1)

#df_valencia_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_valencia_meteo.csv", decimal=',') # cualquiera
df_valencia_meteo.drop(columns = unnamed, inplace= True, axis=1)

#df_zamora_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_zamora_meteo.csv", decimal=',') # cualquiera
df_zamora_meteo.drop(columns = unnamed, inplace= True, axis=1)

#df_zaragoza_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_zaragoza_meteo.csv", decimal=',') # cualquiera
df_zaragoza_meteo.drop(columns = unnamed, inplace= True, axis=1)

#df_jaen_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_jaen_meteo.csv", decimal=',') 
df_jaen_meteo.drop(columns = unnamed, inplace= True, axis=1)

#df_cordoba_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_cordoba_meteo.csv", decimal=',') # cualquiera
df_cordoba_meteo.drop(columns = unnamed, inplace= True, axis=1)

#df_sevilla_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_sevilla_meteo.csv", decimal=',') # cualquiera
df_sevilla_meteo.drop(columns = unnamed, inplace= True, axis=1)

#df_huelva_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_huelva_meteo.csv", decimal=',') # cualquiera
df_huelva_meteo.drop(columns = unnamed, inplace= True, axis=1)

#df_cadiz_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_cadiz_meteo.csv", decimal=',') # cualquiera
df_cadiz_meteo.drop(columns = unnamed, inplace= True, axis=1)

#df_malaga_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_malaga_meteo.csv", decimal=',') # cualquiera
df_malaga_meteo.drop(columns = unnamed, inplace= True, axis=1)

#df_granada_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_granada_meteo.csv", decimal=',') # cualquiera
df_granada_meteo.drop(columns = unnamed, inplace= True, axis=1)

#df_almeria_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_almeria_meteo.csv", decimal=',') # cualquiera
df_almeria_meteo.drop(columns = unnamed, inplace= True, axis=1)

#df_coruna_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_coruna_meteo.csv", decimal=',') # cualquiera
df_coruna_meteo.drop(columns = unnamed, inplace= True, axis=1)

#df_lugo_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_lugo_meteo.csv", decimal=',') # cualquiera
df_lugo_meteo.drop(columns = unnamed, inplace= True, axis=1)

#df_orense_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_orense_meteo.csv", decimal=',') # cualquiera
df_orense_meteo.drop(columns = unnamed, inplace= True, axis=1)

#df_pontevedra_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_pontevedra_meteo.csv", decimal=',') # cualquiera
df_pontevedra_meteo.drop(columns = unnamed, inplace= True, axis=1)

## Datos de humedad relativa en %

In [28]:
alicante_hr = pd.read_csv("~/Trabajo_tfm/datos_humedad_r/alicante_hr.csv")
clima_alicante = pd.concat([df_alicante_meteo, alicante_hr], axis = 1)

badajoz_hr = pd.read_csv("~/Trabajo_tfm/datos_humedad_r/badajoz_hr.csv")
clima_badajoz = pd.concat([df_badajoz_meteo, badajoz_hr], axis = 1)

ciudad_real_hr = pd.read_csv("~/Trabajo_tfm/datos_humedad_r/ciudad_real_hr.csv")
clima_ciudad_real = pd.concat([df_ciudadreal_meteo, ciudad_real_hr], axis = 1)

madrid_hr = pd.read_csv("~/Trabajo_tfm/datos_humedad_r/madrid_hr.csv")
clima_madrid = pd.concat([df_madrid_meteo, madrid_hr], axis = 1)

palencia_hr = pd.read_csv("~/Trabajo_tfm/datos_humedad_r/palencia_hr.csv")
clima_palencia = pd.concat([df_palencia_meteo, palencia_hr], axis = 1)

salamanca_hr = pd.read_csv("~/Trabajo_tfm/datos_humedad_r/salamanca_hr.csv")
clima_salamanca = pd.concat([df_salamanca_meteo, salamanca_hr], axis = 1)

valencia_hr = pd.read_csv("~/Trabajo_tfm/datos_humedad_r/valencia_hr.csv")
clima_valencia = pd.concat([df_valencia_meteo, valencia_hr], axis = 1)

zamora_hr = pd.read_csv("~/Trabajo_tfm/datos_humedad_r/zamora_hr.csv")
clima_zamora = pd.concat([df_zamora_meteo, zamora_hr], axis = 1)

zaragoza_hr = pd.read_csv("~/Trabajo_tfm/datos_humedad_r/zaragoza_hr.csv")
clima_zaragoza = pd.concat([df_zaragoza_meteo, zaragoza_hr], axis = 1)

jaen_hr = pd.read_csv("~/Trabajo_tfm/datos_humedad_r/jaen_hr.csv")
clima_jaen = pd.concat([df_jaen_meteo, jaen_hr], axis = 1)

cordoba_hr = pd.read_csv("~/Trabajo_tfm/datos_humedad_r/cordoba_hr.csv")
clima_cordoba = pd.concat([df_cordoba_meteo, cordoba_hr], axis = 1)

sevilla_hr = pd.read_csv("~/Trabajo_tfm/datos_humedad_r/sevilla_hr.csv")
clima_sevilla = pd.concat([df_sevilla_meteo, sevilla_hr], axis = 1)

huelva_hr = pd.read_csv("~/Trabajo_tfm/datos_humedad_r/huelva_hr.csv")
clima_huelva = pd.concat([df_huelva_meteo, huelva_hr], axis = 1)

cadiz_hr = pd.read_csv("~/Trabajo_tfm/datos_humedad_r/cadiz_hr.csv")
clima_cadiz = pd.concat([df_cadiz_meteo, cadiz_hr], axis = 1)

malaga_hr = pd.read_csv("~/Trabajo_tfm/datos_humedad_r/malaga_hr.csv")
clima_malaga = pd.concat([df_malaga_meteo, malaga_hr], axis = 1)

granada_hr = pd.read_csv("~/Trabajo_tfm/datos_humedad_r/granada_hr.csv")
clima_granada = pd.concat([df_granada_meteo, granada_hr], axis = 1)

almeria_hr = pd.read_csv("~/Trabajo_tfm/datos_humedad_r/almeria_hr.csv")
clima_almeria = pd.concat([df_almeria_meteo, almeria_hr], axis = 1)

coruna_hr = pd.read_csv("~/Trabajo_tfm/datos_humedad_r/coruna_hr.csv")
clima_coruna = pd.concat([df_coruna_meteo, coruna_hr], axis = 1)

lugo_hr = pd.read_csv("~/Trabajo_tfm/datos_humedad_r/lugo_hr.csv")
clima_lugo = pd.concat([df_lugo_meteo, lugo_hr], axis = 1)

orense_hr = pd.read_csv("~/Trabajo_tfm/datos_humedad_r/orense_hr.csv")
clima_orense = pd.concat([df_orense_meteo, orense_hr], axis = 1)

pontevedra_hr = pd.read_csv("~/Trabajo_tfm/datos_humedad_r/pontevedra_hr.csv")
clima_pontevedra = pd.concat([df_pontevedra_meteo, pontevedra_hr], axis = 1)
#clima_pontevedra.tail()

In [29]:
clima_malaga

,fecha,provincia,altitud,tmed,prec,tmin,tmax,velmedia,sol,presMax,presMin,hr
0,2020-03-01,MALAGA,5,18.1,Ip,13.3,22.9,4.7,6.9,1020.2,1016.1,80.0
1,2020-03-02,MALAGA,5,20.2,Ip,14.3,26.0,5.6,6.5,1022.1,1013.5,80.0
2,2020-03-03,MALAGA,5,17.9,"0,0",12.7,23.1,6.4,9.8,1023.8,1020.2,80.0
3,2020-03-04,MALAGA,5,19.9,"0,0",15.4,24.4,8.6,10.5,1023.1,1018.4,80.0
4,2020-03-05,MALAGA,5,19.2,"0,0",14.6,23.7,7.8,8.0,1019.4,1015.5,80.0
...,...,...,...,...,...,...,...,...,...,...,...,...
332,2021-01-27,MALAGA,5,19.9,"0,0",15.9,23.9,8.3,8.6,1025.1,1021.9,67.0
333,2021-01-28,MALAGA,5,16.4,"0,0",11.4,21.4,3.1,8.6,1025.2,1021.9,63.0
334,2021-01-29,MALAGA,5,18.6,"0,0",11.2,26.0,3.3,8.8,1022.4,1018.8,55.0
335,2021-01-30,MALAGA,5,17.2,"0,0",13.0,21.5,7.2,7.5,1019.7,1015.7,57.0
336,2021-01-31,MALAGA,5,16.6,"0,0",12.9,20.2,6.1,4.4,1020.0,1017.3,58.0

In [30]:
climas = pd.concat([clima_alicante, clima_almeria, clima_badajoz, clima_cadiz,
                    clima_ciudad_real, clima_cordoba, clima_coruna,clima_granada,
                    clima_huelva, clima_jaen, clima_lugo, clima_madrid,clima_malaga, 
                    clima_orense, clima_palencia, clima_pontevedra, clima_salamanca,
                    clima_sevilla, clima_valencia, clima_zamora, clima_zaragoza])

In [31]:
climas.provincia.unique()

array(['ALICANTE', 'ALMERIA', 'BADAJOZ', 'CADIZ', 'CIUDAD REAL',
       'CORDOBA', 'A CORU√ëA', 'GRANADA', 'HUELVA', 'JAEN', 'LUGO',
       'MADRID', 'MALAGA', 'OURENSE', 'PALENCIA', 'PONTEVEDRA',
       'SALAMANCA', 'SEVILLA', 'VALENCIA', 'ZAMORA', 'ZARAGOZA'],
      dtype=object)

In [32]:
def nombre_provincia(row): # transfoma la provincia a mayusculas para unificar con otros ficheros
    if row.provincia == 'ALICANTE':
        return 'alicante'.upper()
    elif row.provincia == 'BADAJOZ':
        return 'Badajoz'.upper()
    elif row.provincia == 'CIUDAD REAL':
        return 'Ciudad_Real'.upper()
    elif row.provincia == 'MADRID':
        return 'Madrid'.upper()
    elif row.provincia == 'PALENCIA':
        return 'Palencia'.upper()
    elif row.provincia == 'SALAMANCA':
        return 'Salamanca'.upper()
    elif row.provincia == 'VALENCIA':
        return 'Valencia'.upper()  
    elif row.provincia == 'ZAMORA':
        return 'Zamora'.upper()  
    elif row.provincia == 'ZARAGOZA':
        return 'Zaragoza'.upper()  
    elif row.provincia == 'JAEN':
        return 'jaen'.upper()
    elif row.provincia == 'CORDOBA':
        return 'cordoba'.upper()
    elif row.provincia == 'CADIZ':
        return 'Cadiz'.upper()
    elif row.provincia == 'SEVILLA':
        return 'sevilla'.upper()
    elif row.provincia == 'GRANADA':
        return 'Granada'.upper()
    elif row.provincia == 'HUELVA':
        return 'huelva'.upper()
    elif row.provincia == 'MALAGA':
        return 'malaga'.upper()
    elif row.provincia == 'ALMERIA':
        return 'almeria'.upper()
    elif row.provincia == 'A CORU√ëA':
        return 'Coru√±a'.upper()
    elif row.provincia == 'LUGO':
        return 'lugo'.upper()
    elif row.provincia == 'OURENSE':
        return 'Orense'.upper()
    elif row.provincia == 'PONTEVEDRA':
        return 'Pontevedra'.upper()

In [33]:
provincia = climas.apply(lambda row: nombre_provincia(row), axis=1).rename('provincia')

In [34]:
climas = climas.drop(columns='provincia')
climas.insert(1,'provincia', provincia)# evolucion.head()

In [35]:
climas.head(3)

,fecha,provincia,altitud,tmed,prec,tmin,tmax,velmedia,sol,presMax,presMin,hr
0,2020-03-01,ALICANTE,43,17.6,"0,0",12.6,22.6,3.1,7.0,1012.5,1007.2,64.0
1,2020-03-02,ALICANTE,43,18.5,"0,6",12.1,24.9,9.7,7.2,1014.7,999.9,64.0
2,2020-03-03,ALICANTE,43,15.2,"0,0",7.1,23.2,5.8,4.5,1015.4,1009.2,64.0

In [36]:
clima = pd.concat([ # construccion
    climas[climas.provincia =='ALICANTE'],
    climas[climas.provincia =='BADAJOZ'],
    climas[climas.provincia =='CIUDAD_REAL'],
    climas[climas.provincia =='MADRID'],
    climas[climas.provincia =='PALENCIA'],
    climas[climas.provincia =='SALAMANCA'],
    climas[climas.provincia =='VALENCIA'],
    climas[climas.provincia =='ZAMORA'],
    climas[climas.provincia =='ZARAGOZA'],
    climas[climas.provincia =='JAEN'], # ordenacion por provincias
    climas[climas.provincia =='CORDOBA'],
    climas[climas.provincia =='SEVILLA'],
    climas[climas.provincia =='HUELVA'],
    climas[climas.provincia =='CADIZ'],
    climas[climas.provincia =='MALAGA'],
    climas[climas.provincia =='GRANADA'],
    climas[climas.provincia =='ALMERIA'],
    climas[climas.provincia =='CORU√ëA'],
    climas[climas.provincia =='LUGO'],
    climas[climas.provincia =='ORENSE'],
    climas[climas.provincia =='PONTEVEDRA']])

In [37]:
#print (clima.hr.head(3), clima.provincia.head(3),clima.altitud.head(3), clima.velmedia.head(3))

In [38]:
clima = clima.reset_index()

In [39]:
clima.tail(3)

,index,fecha,provincia,altitud,tmed,prec,tmin,tmax,velmedia,sol,presMax,presMin,hr
7074,334,2021-01-29,PONTEVEDRA,108,12.6,"13,0",11.9,13.3,3.6,0.0,1008.6,1000.1,73.0
7075,335,2021-01-30,PONTEVEDRA,108,11.0,"30,0",9.2,12.9,5.8,1.1,1004.4,999.5,73.0
7076,336,2021-01-31,PONTEVEDRA,108,12.2,"17,0",10.6,13.9,3.1,0.0,1004.3,1000.2,73.0

In [40]:
clima.provincia.unique()

array(['ALICANTE', 'BADAJOZ', 'CIUDAD_REAL', 'MADRID', 'PALENCIA',
       'SALAMANCA', 'VALENCIA', 'ZAMORA', 'ZARAGOZA', 'JAEN', 'CORDOBA',
       'SEVILLA', 'HUELVA', 'CADIZ', 'MALAGA', 'GRANADA', 'ALMERIA',
       'CORU√ëA', 'LUGO', 'ORENSE', 'PONTEVEDRA'], dtype=object)

provincia = clima.apply(lambda row: nombre_provincia(row), axis=1).rename('provincia')
provincia

clima = clima.drop(columns='provincia')
clima.insert(1,'provincia', provincia)# evolucion.head()

In [41]:
clima.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7077 entries, 0 to 7076
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      7077 non-null   int64
 1   fecha      7077 non-null   object
 2   provincia  7077 non-null   object
 3   altitud    7077 non-null   int64
 4   tmed       7065 non-null   float64
 5   prec       7009 non-null   object
 6   tmin       7065 non-null   float64
 7   tmax       7065 non-null   float64
 8   velmedia   6860 non-null   float64
 9   sol        5884 non-null   float64
 10  presMax    7027 non-null   float64
 11  presMin    7027 non-null   float64
 12  hr         7077 non-null   float64
dtypes: float64(8), int64(2), object(3)
memory usage: 718.9+ KB

In [42]:
indice = ['index']

#df_alicante_meteo = pd.read_csv("~/Trabajo_tfm/datos_csv/df_alicante_meteo.csv", decimal=',') # cualquiera
clima.drop(columns = indice, inplace= True, axis=1)

In [43]:
clima.tail()

,fecha,provincia,altitud,tmed,prec,tmin,tmax,velmedia,sol,presMax,presMin,hr
7072,2021-01-27,PONTEVEDRA,108,13.6,"2,0",12.8,14.5,0.8,0.0,1014.4,1011.4,73.0
7073,2021-01-28,PONTEVEDRA,108,13.3,"5,6",12.5,14.1,2.8,0.0,1012.1,1007.9,73.0
7074,2021-01-29,PONTEVEDRA,108,12.6,"13,0",11.9,13.3,3.6,0.0,1008.6,1000.1,73.0
7075,2021-01-30,PONTEVEDRA,108,11.0,"30,0",9.2,12.9,5.8,1.1,1004.4,999.5,73.0
7076,2021-01-31,PONTEVEDRA,108,12.2,"17,0",10.6,13.9,3.1,0.0,1004.3,1000.2,73.0

In [44]:
clima.prec.unique()

array(['0,0', '0,6', '0,1', 'Ip', '0,5', '5,0', '3,5', '22,3', '7,5',
       '24,5', '9,2', '5,2', '6,3', '0,3', '3,6', '6,6', '1,0', '1,8',
       '2,7', '2,3', '0,2', '11,9', '0,9', '5,1', '12,5', '17,2', '5,3',
       '0,8', '19,0', '0,4', '8,8', '1,9', '18,7', '2,9', '0,7', '4,7',
       '1,4', '20,0', '1,1', '8,0', '14,3', '3,8', '42,0', '5,8', '13,4',
       '6,4', '2,6', '15,8', '1,2', '7,8', '7,0', '11,0', '3,0', '8,6',
       '1,6', '8,2', '4,0', '10,6', '8,4', '4,8', '13,0', '4,4', '26,6',
       '3,4', '9,0', '20,4', '9,8', '13,8', '18,6', '3,2', '6,0', '14,4',
       '6,8', '12,6', '10,0', '2,8', '4,2', '18,0', '7,6', '2,0', '11,6',
       '5,4', '27,5', '1,7', '28,2', '12,2', '2,4', '9,4', 2.2, 0.0, 0.5,
       7.7, 3.0, 0.2, 9.5, 4.0, 9.8, 18.2, 0.9, 0.8, 7.2, 6.7, 14.2, 2.7,
       2.4, 1.1, 18.1, 3.5, 3.3, 5.2, 0.4, 0.1, 1.2, 19.3, 9.0, 11.4,
       13.2, 1.8, 37.8, 4.5, 2.0, 0.6, 5.4, 26.6, 1.3, 3.4, 13.0, 22.2,
       6.6, 6.9, 7.5, 4.4, 24.2, 9.6, 2.5, 1.0, 3.8, 6.4, 20.0, 4.6, 1.9,
       2.3, 32.9, 17.7, 3.1, 7.9, 1.7, 17.2, 5.6, 4.8, 15.0, 2.8, nan,
       8.2, 1.4, 12.6, 1.6, 6.0, 6.2, 5.0, 16.2, 42.4, 8.4, 2.6, 3.6,
       10.4, 7.8, 8.0, 4.2, 4.7, 12.3, 2.9, 0.7, 1.5, 5.5, 3.9, 9.1, 0.3,
       13.1, 19.5, 9.2, 24.3, 8.8, 8.6, 7.1, 17.8, 4.1, 5.3, '7,2',
       '12,4', '9,3', '1,5', '10,1', '19,4', '7,9', '37,7', '5,5', '3,1',
       '42,3', '55,0', '84,8', '2,2', '17,6', '21,6', '6,2', '28,4',
       '25,8', '29,0', '11,8', '5,6', '12,8', '28,8', '4,6', '15,4',
       '10,8', '30,4', '14,8', '24,2', '7,4', '17,4', 10.6, 19.8, 14.8,
       11.2, 11.8, 24.4, 14.6, 5.8, 6.8, 13.8, 29.2, 17.0, 3.2, 23.2,
       15.2, '1,3', '22,7', '18,4', '7,1', '2,5', '57,6', '14,2', '16,3',
       '5,9', '12,0', '7,7', '34,2', '23,4', '2,1', '8,5', '3,7', '21,1',
       '12,9', '22,0', '6,1', '22,4', '4,1', '4,9', '14,6', '8,3', '16,9',
       '14,0', '16,7', '23,2', '23,9', '6,5', '10,4', '48,4', '3,9',
       '15,0', '15,2', '19,2', '13,2', '25,0', '16,4', '77,6', '47,0',
       '22,2', 50.4, 13.9, 11.7, 41.4, 11.1, 5.7, 11.9, 32.1, 15.9, 10.8,
       40.1, 10.2, 6.3, 44.3, 20.3, 50.3, 21.0, 26.8, 25.8, 35.1, 45.0,
       '35,7', '34,1', '20,6', '31,9', '9,5', '19,8', '8,7', '5,7',
       '17,0', '12,3', '34,9', '14,7', '56,4', '38,7', '21,5', '15,3',
       '3,3', '6,7', '6,9', '16,6', '13,5', '40,1', '9,9', '12,7', '9,1',
       '27,0', '24,1', '38,0', '62,2', '13,6', '18,8', '20,8', '39,8',
       '16,0', '31,4', '11,2', '10,2', '15,6', '18,2', '13,9', '20,2',
       '22,8', '27,2', '29,2', '24,8', '32,2', '16,2', '25,6', '40,0',
       20.2, 13.6, 29.0, 7.0, 7.4, 27.2, 11.6, 14.0, 18.4, 12.8, 30.0,
       10.0, 9.4, 14.4, 7.6, 16.0, 12.0, 12.2, 15.6, 11.0, '27,4', '27,8',
       '28,0', '41,0', '26,2', '36,4', '16,8', '19,6', '44,0', '58,8',
       '82,2', '57,8', '30,8', '28,6', '35,6', '22,6', '30,0'],
      dtype=object)

In [45]:
clima = clima.replace({'Ip': '0,0'})
clima = clima.replace({'nan': '0,0'})

In [46]:
# Replace all occurrences of Not Available with numpy not a number

# Iterate through the columns
for col in list(clima.columns):
    # Select columns that should be numeric
    if ('prec' in col ):
        clima[col] = clima[col].astype(str)

In [47]:
clima.prec.unique()

array(['0,0', '0,6', '0,1', '0,5', '5,0', '3,5', '22,3', '7,5', '24,5',
       '9,2', '5,2', '6,3', '0,3', '3,6', '6,6', '1,0', '1,8', '2,7',
       '2,3', '0,2', '11,9', '0,9', '5,1', '12,5', '17,2', '5,3', '0,8',
       '19,0', '0,4', '8,8', '1,9', '18,7', '2,9', '0,7', '4,7', '1,4',
       '20,0', '1,1', '8,0', '14,3', '3,8', '42,0', '5,8', '13,4', '6,4',
       '2,6', '15,8', '1,2', '7,8', '7,0', '11,0', '3,0', '8,6', '1,6',
       '8,2', '4,0', '10,6', '8,4', '4,8', '13,0', '4,4', '26,6', '3,4',
       '9,0', '20,4', '9,8', '13,8', '18,6', '3,2', '6,0', '14,4', '6,8',
       '12,6', '10,0', '2,8', '4,2', '18,0', '7,6', '2,0', '11,6', '5,4',
       '27,5', '1,7', '28,2', '12,2', '2,4', '9,4', '2.2', '0.0', '0.5',
       '7.7', '3.0', '0.2', '9.5', '4.0', '9.8', '18.2', '0.9', '0.8',
       '7.2', '6.7', '14.2', '2.7', '2.4', '1.1', '18.1', '3.5', '3.3',
       '5.2', '0.4', '0.1', '1.2', '19.3', '9.0', '11.4', '13.2', '1.8',
       '37.8', '4.5', '2.0', '0.6', '5.4', '26.6', '1.3', '3.4', '13.0',
       '22.2', '6.6', '6.9', '7.5', '4.4', '24.2', '9.6', '2.5', '1.0',
       '3.8', '6.4', '20.0', '4.6', '1.9', '2.3', '32.9', '17.7', '3.1',
       '7.9', '1.7', '17.2', '5.6', '4.8', '15.0', '2.8', 'nan', '8.2',
       '1.4', '12.6', '1.6', '6.0', '6.2', '5.0', '16.2', '42.4', '8.4',
       '2.6', '3.6', '10.4', '7.8', '8.0', '4.2', '4.7', '12.3', '2.9',
       '0.7', '1.5', '5.5', '3.9', '9.1', '0.3', '13.1', '19.5', '9.2',
       '24.3', '8.8', '8.6', '7.1', '17.8', '4.1', '5.3', '7,2', '12,4',
       '9,3', '1,5', '10,1', '19,4', '7,9', '37,7', '5,5', '3,1', '42,3',
       '55,0', '84,8', '2,2', '17,6', '21,6', '6,2', '28,4', '25,8',
       '29,0', '11,8', '5,6', '12,8', '28,8', '4,6', '15,4', '10,8',
       '30,4', '14,8', '24,2', '7,4', '17,4', '10.6', '19.8', '14.8',
       '11.2', '11.8', '24.4', '14.6', '5.8', '6.8', '13.8', '29.2',
       '17.0', '3.2', '23.2', '15.2', '1,3', '22,7', '18,4', '7,1', '2,5',
       '57,6', '14,2', '16,3', '5,9', '12,0', '7,7', '34,2', '23,4',
       '2,1', '8,5', '3,7', '21,1', '12,9', '22,0', '6,1', '22,4', '4,1',
       '4,9', '14,6', '8,3', '16,9', '14,0', '16,7', '23,2', '23,9',
       '6,5', '10,4', '48,4', '3,9', '15,0', '15,2', '19,2', '13,2',
       '25,0', '16,4', '77,6', '47,0', '22,2', '50.4', '13.9', '11.7',
       '41.4', '11.1', '5.7', '11.9', '32.1', '15.9', '10.8', '40.1',
       '10.2', '6.3', '44.3', '20.3', '50.3', '21.0', '26.8', '25.8',
       '35.1', '45.0', '35,7', '34,1', '20,6', '31,9', '9,5', '19,8',
       '8,7', '5,7', '17,0', '12,3', '34,9', '14,7', '56,4', '38,7',
       '21,5', '15,3', '3,3', '6,7', '6,9', '16,6', '13,5', '40,1', '9,9',
       '12,7', '9,1', '27,0', '24,1', '38,0', '62,2', '13,6', '18,8',
       '20,8', '39,8', '16,0', '31,4', '11,2', '10,2', '15,6', '18,2',
       '13,9', '20,2', '22,8', '27,2', '29,2', '24,8', '32,2', '16,2',
       '25,6', '40,0', '20.2', '13.6', '29.0', '7.0', '7.4', '27.2',
       '11.6', '14.0', '18.4', '12.8', '30.0', '10.0', '9.4', '14.4',
       '7.6', '16.0', '12.0', '12.2', '15.6', '11.0', '27,4', '27,8',
       '28,0', '41,0', '26,2', '36,4', '16,8', '19,6', '44,0', '58,8',
       '82,2', '57,8', '30,8', '28,6', '35,6', '22,6', '30,0'],
      dtype=object)

In [50]:
def formato_prec(row):
    if row.prec== 'nan':
        precN =0.0
    else :
        litros = float(row.prec[:-2])
        decima = float(row.prec[-1:])
        precN = (litros) + (decima)/10.0
    #print(precN)
    return precN

In [51]:
prec = clima.apply(lambda row: formato_prec(row), axis=1).rename('prec')

In [52]:
prec

0        0.0
1        0.6
2        0.0
3        0.0
4        0.0
        ...
7072     2.0
7073     5.6
7074    13.0
7075    30.0
7076    17.0
Name: prec, Length: 7077, dtype: float64

In [53]:
col_eliminar_met = ['prec']
clima.drop(columns = col_eliminar_met, axis = 1, inplace = True) 

clima.insert(4,'prec',prec)

In [54]:
clima.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7077 entries, 0 to 7076
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   fecha      7077 non-null   object
 1   provincia  7077 non-null   object
 2   altitud    7077 non-null   int64
 3   tmed       7065 non-null   float64
 4   prec       7077 non-null   float64
 5   tmin       7065 non-null   float64
 6   tmax       7065 non-null   float64
 7   velmedia   6860 non-null   float64
 8   sol        5884 non-null   float64
 9   presMax    7027 non-null   float64
 10  presMin    7027 non-null   float64
 11  hr         7077 non-null   float64
dtypes: float64(9), int64(1), object(2)
memory usage: 663.6+ KB

In [59]:
clima.head()
datos_clima = clima.sort_values(by=['fecha', 'provincia'])

In [60]:
datos_clima

,fecha,provincia,altitud,tmed,prec,tmin,tmax,velmedia,sol,presMax,presMin,hr
0,2020-03-01,ALICANTE,43,17.6,0.0,12.6,22.6,3.1,7.0,1012.5,1007.2,64.0
5392,2020-03-01,ALMERIA,21,16.8,0.0,12.9,20.6,3.6,5.0,1015.0,1011.9,66.0
337,2020-03-01,BADAJOZ,185,14.6,3.8,11.2,17.9,3.1,1.6,995.8,990.0,67.0
4381,2020-03-01,CADIZ,2,17.3,0.0,15.1,19.5,2.2,NaN,1022.7,1018.8,87.0
674,2020-03-01,CIUDAD_REAL,628,12.4,6.0,9.4,15.4,3.6,2.2,945.6,939.0,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2021,2021-01-31,SALAMANCA,775,10.5,0.5,6.7,14.3,4.4,NaN,927.5,925.0,78.0
4043,2021-01-31,SEVILLA,34,14.7,0.0,10.8,18.6,5.0,NaN,1020.2,1016.7,75.0
2358,2021-01-31,VALENCIA,56,15.8,0.0,11.3,20.3,8.9,7.2,1003.3,999.5,60.0
2695,2021-01-31,ZAMORA,656,12.0,0.0,7.3,16.8,3.3,2.6,938.0,934.7,84.0
3032,2021-01-31,ZARAGOZA,249,12.5,0.0,7.6,17.4,4.2,4.6,980.4,973.8,73.0

In [61]:
datos_clima = datos_clima.reset_index()
datos_clima.drop('index', inplace=True, axis=1)

In [62]:
datos_clima

,fecha,provincia,altitud,tmed,prec,tmin,tmax,velmedia,sol,presMax,presMin,hr
0,2020-03-01,ALICANTE,43,17.6,0.0,12.6,22.6,3.1,7.0,1012.5,1007.2,64.0
1,2020-03-01,ALMERIA,21,16.8,0.0,12.9,20.6,3.6,5.0,1015.0,1011.9,66.0
2,2020-03-01,BADAJOZ,185,14.6,3.8,11.2,17.9,3.1,1.6,995.8,990.0,67.0
3,2020-03-01,CADIZ,2,17.3,0.0,15.1,19.5,2.2,NaN,1022.7,1018.8,87.0
4,2020-03-01,CIUDAD_REAL,628,12.4,6.0,9.4,15.4,3.6,2.2,945.6,939.0,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7072,2021-01-31,SALAMANCA,775,10.5,0.5,6.7,14.3,4.4,NaN,927.5,925.0,78.0
7073,2021-01-31,SEVILLA,34,14.7,0.0,10.8,18.6,5.0,NaN,1020.2,1016.7,75.0
7074,2021-01-31,VALENCIA,56,15.8,0.0,11.3,20.3,8.9,7.2,1003.3,999.5,60.0
7075,2021-01-31,ZAMORA,656,12.0,0.0,7.3,16.8,3.3,2.6,938.0,934.7,84.0
7076,2021-01-31,ZARAGOZA,249,12.5,0.0,7.6,17.4,4.2,4.6,980.4,973.8,73.0

In [ ]:
clima.to_csv("~/Trabajo_tfm/datos_csv/clima.csv")